[Unit]
Description=Monitor PVE VM/CT migrations
ConditionPathExists=/etc/pve-migration-monitor/migration-monitor
After=pve-cluster.service

[Service]
ExecStart=/etc/pve-migration-monitor/migration-monitor
Type=simple
Restart=on-failure

[Install]
WantedBy=multi-user.target
