[Unit]
Description=Generate resource files with VM/CT public ip, read from VM guest agent and CT commands, for failover migration

[Timer]
OnCalendar=hourly

[Install]
WantedBy=timers.target
